/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text{
  color:white;
  background-color: orange ;
  padding: 10px;

}

#outer-box{
  border: black;
  background-color: purple;
  padding: 10px;
}

.inner-box{
  background-color: red;
}
